
<div class="well"  *ngFor="let event of events">
  <div class="row">
    <div class="col-sm-3" >
      <img src="{{event.imageLink}}" class="img-thumbnail" alt="...">
    </div>
    <div class="col-sm-7" >
      <div class="row">
        <p class="fs-3">{{event.title}}</p>
      </div>
      <div class="row">
        <p class="fs-5">{{event.time}}</p>
      </div>
      <div class="row">
        <p class="fs-5">{{event.duration}}</p>
      </div>
    </div>
    <div class="col-sm-2 align-middle">
      <button type="button" class="btn btn-warning" (click)=routeToEvent(event.id) >More Details</button>
    </div>

  </div>
</div>
